p{
	color:black;
	color: blue;
    border:dashed;

}

#uno{
	padding: 40px 20px 70px 100px;
	color: green;
	background-color: green;

}
#dos
{
	margin: 20px 60px 30.5 60px;
	color: blue;
	background-color: purple;


}
